[Desktop Entry]
Type=Application
Exec=startlxqt-qt5ct
TryExec=lxqt-session
Name=LXQt Desktop (Qt5ct)
Comment=Lightweight Qt Desktop (Qt5ct)

Name[ar]=سطح المكتب ريزر (Qt5ct)
Comment[ar]=سطح المكتب كيوت٤ (Qt5ct)
Name[cs]=Plocha LXQt (Qt5ct)
Comment[cs]=Pracovní plocha na Qt (Qt5ct)
Name[cs_CZ]=Pracovní plocha LXQt (Qt5ct)
Comment[cs_CZ]=Pracovní plocha Qt (Qt5ct)
Name[da]=LXQt Desktop (Qt5ct)
Comment[da]=Qt Desktop Environment (Qt5ct)
Name[da_DK]=LXQt Desktop (Qt5ct)
Comment[da_DK]=Qt Desktop (Qt5ct)
Name[de]=LXQt Arbeitsumgebung (Qt5ct)
Comment[de]=Leichtgewichtige Qt Arbeitsumgebung (Qt5ct)
Name[el]=Επιφάνεια εργασίας LXQt (Qt5ct)
Comment[el]=Ελαφριά επιφάνεια εργασίας Qt (Qt5ct)
Name[eo]=LXQta labortablo (Qt5ct)
Comment[eo]=Qt-labortablo (Qt5ct)
Name[es]=Escritorio LXQt (Qt5ct)
Comment[es]=Escritorio Qt (Qt5ct)
Name[es_VE]=Escritorio LXQt (Qt5ct)
Comment[es_VE]=Escritorio Qt (Qt5ct)
Name[eu]=LXQt mahaigaina (Qt5ct)
Comment[eu]=Qt mahaigaina (Qt5ct)
Name[fi]=LXQt-työpöytä (Qt5ct)
Comment[fi]=Qt-työpöytä (Qt5ct)
Name[fr_FR]=Bureau LXQt (Qt5ct)
Comment[fr_FR]=Bureau Qt (Qt5ct)
Name[hu]=LXQt asztal (Qt5ct)
Comment[hu]=Qt asztali környezet (Qt5ct)
Name[it_IT]=Desktop LXQt (Qt5ct)
Comment[it_IT]=Desktop Qt (Qt5ct)
Name[ja]=LXQt デスクトップ (Qt5ct)
Comment[ja]=Qt デスクトップ (Qt5ct)
Name[lt]=LXQt darbalaukis (Qt5ct)
Comment[lt]=Qt darbalaukis (Qt5ct)
Name[nl]=LXQt Bureaublad (Qt5ct)
Comment[nl]=Qt Bureaublad (Qt5ct)
Name[pl]=Pulpit LXQt (Qt5ct)
Comment[pl]=Pulpit Qt (Qt5ct)
Name[pl_PL]=Pulpit LXQt (Qt5ct)
Comment[pl_PL]=Środowisko graficzne Qt (Qt5ct)
Name[pt]=Ambiente de trabalho LXQt (Qt5ct)
Comment[pt]=Ambiente de trabalho em Qt (Qt5ct)
Name[pt_BR]=Área de trabalho LXQt (Qt5ct)
Comment[pt_BR]=Área de trabalho Qt (Qt5ct)
Name[ro_RO]=Desktop LXQt (Qt5ct)
Comment[ro_RO]=Desktop Qt (Qt5ct)
Name[ru]=Рабочий стол LXQt (Qt5ct)
Comment[ru]=Рабочий стол  на Qt (Qt5ct)
Name[ru_RU]=Рабочий стол LXQt (Qt5ct)
Comment[ru_RU]=Среда рабочего стола, использующая Qt (Qt5ct)
Name[sk]=Prostredie LXQt (Qt5ct)
Comment[sk]=Pracovné prostredie v Qt (Qt5ct)
Name[sl]=Namizje LXQt (Qt5ct)
Comment[sl]=Namizje, ustvarjeno s Qt (Qt5ct)
Name[sr]=Рејзорова радна површ (Qt5ct)
Comment[sr]=Кјут4 радна површ (Qt5ct)
Name[sr@latin]=Rejzorova radna površ (Qt5ct)
Comment[sr@latin]=Qt radna površ (Qt5ct)
Name[th_TH]=เดสก์ท็อป LXQt (Qt5ct)
Comment[th_TH]=เดสก์ท็อป Qt (Qt5ct)
Name[tr]=LXQt Masaüstü (Qt5ct)
Comment[tr]=Qt Masaüstü (Qt5ct)
Name[uk]=Стільниця LXQt (Qt5ct)
Comment[uk]=Стільниця Qt (Qt5ct)
Name[zh_CN]=LXQt 桌面 (Qt5ct)
Comment[zh_CN]=Qt 桌面 (Qt5ct)
Name[zh_TW]=LXQt桌面 (Qt5ct)
Comment[zh_TW]=輕量級Qt桌面環境 (Qt5ct)
